{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% include "snippets/styles.html" %}
      {% block app_css %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">    
      {% endblock app_css %}
    <link rel="shortcut icon" href="  {% static 'img/byCode_fav.png' %} " type="image/x-icon">  
    <title>{{title}}</title>

</head>
<body>
    {% include "snippets/navbar.html" %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-white text-center">
         {% block header %}{% endblock header %}
        </div>
    </div>
    <div class="container-fluid">
        <div  class="container bg-light  text-dark " style="margin-top:-100px" >
          {% block content1 %}{% endblock content1 %} 
        </div>
        <div class="container bg-dark text-white shadow" >
          {% block content2 %}{% endblock content2 %}
        </div>
    </div>   
    {% include "snippets/script.html" %}
</body>
</html>